*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--lora);
}
:root{
    --txt-negro: #333;
    --txt-gris: #575757;
    --txt-verde: #529F0F;
    --lora: 'Lora', serif;
    --playfair: 'Playfair Display', serif;
    --work-sans: 'Work Sans', sans-serif;
}
header, section, .f-s{
    padding: 20px 150px;
}
h1, h2{
    font-family: var(--work-sans);
}
h3{
    font-family: var(--playfair);
    color: var(--txt-negro)
}
h2{
    font-size: 2rem;
}
header{
    position: sticky;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--txt-negro);
    gap: 20px;
}
header > a{
    order: -1;
    margin-right: auto ;
}
nav a, .ico-menu a{
    padding: 10px 20px;
    color: var(--txt-negro);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(.6rem, 1vw, 1.2rem);
    font-family: var(--work-sans);
}
.ico-menu, .ico-menu a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.ico-menu a{
    gap: 5px;
    padding: 0;
}
.down{
    font-size: 1.5em !important;
}
.cart{
    transform: scaleX(-1);
}
#menu{
    border: var(--txt-negro) 1px solid;
    padding: 3px;
    display: none;
}
.banner{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: url(./img/breadcrumb.jpg) no-repeat center;
    background-size: cover;
    color: white;
    font-size: .7rem;
}
.banner h1{
    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.p-view{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 90% ) , 1fr));
    gap: 30px;
    align-items: center;
}
.images{
    position: relative;
    display: flex;
    flex-direction: column;
}
.images img{
    border: #e4e4e4 solid 1px;
}
.images > img{
    width: 100%;
}
.carousel{
    padding: 20px 10px;
    display: grid;
    grid: 1fr / 20px repeat(4,1fr) 20px;
    gap: 20px;
    place-items: center;
    justify-items: stretch;
}
.carousel span{
    color: var(--txt-gris);
}
.carousel img{
    width: 100%;
}
.discount::before{
    content: attr(data-text);
    background: var(--txt-verde);
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    text-align: center;
    color: white;
    line-height: 40px;
    font-size: .7rem;
    font-weight: bold;
    font-family: var(--lora);
    z-index: 10;
}
.p-text{
    font-size: .8rem;
}
.p-text h2{
    padding: 5px 0 20px;
    font-size: 1.5rem;
    color: var(--txt-gris);
}
.review{
    display: flex;
    gap: 20px;
}
.stars{
    display: grid;
    grid: 1fr / repeat(5,1fr);
    align-items: center;
}
#star{
    font-size: .9rem;
}
#star:last-child{
    color: var(--txt-gris);
}
.v{
    color: var(--txt-verde);
}
.p-text > p{
    font-size: 1.6rem;
    color: var(--txt-negro);
    padding: 20px 0;
}
.r-d p:first-of-type{
    margin-bottom: 10px;
}
form{
    margin: 25px 0 30px;
}
form > div:not(:last-child){
    margin-bottom: 5px;
}
hr{
    margin: 30px 0;
    opacity: .3;
}
.t-v{
    color: var(--txt-verde);
}
.f-q{
    display: grid;
    width: 200px;
    grid: 1fr / repeat(4, 1fr);
    align-items: center;
}
.f-q input{
    border: #e4e4e4 solid 1px;
    text-align: center;
}
#f-span{
    background: #e4e4e4;
    text-align: center;
    line-height: 30px;
    font-size: .8rem;
}
.f-q > *:not(:first-child){
    width: 30px;
    height: 30px;
}
form + p{
    margin-bottom: 10px;
}
.social{
    padding: 20px 0;
    display: flex;
    gap: 10px;
}
.social a{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}
.social i{
    padding-right: 5px;
}
.social a:nth-child(1){
    background: #05a9f0;
}
.social a:nth-child(2){
    background: #435f9f;
}
.social a:nth-child(3){
    background: #e04b35;
}
.social a:nth-child(4){
    background: #ce2021;
}
.des{
    margin-top: 40px;
    display: grid;
    gap: 20px;
}
.des > p:first-of-type{
    margin-top: 20px;
}
.des *:not(:first-child){
    line-height: 30px;
}
.des ul{
    list-style: "- ";
    padding-left: 12px;
}
.tabs{
    justify-self: center;
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    gap: 10px;
    place-items: center;
    font-size: clamp(.9rem, 2vw, 1.3rem);
    text-align: center;
}
.tabs a{
   text-decoration: none;
   color: var(--txt-gris);
   padding: 10px 20px 15px;
}
.tabs .selected{
    position: relative;
    color: var(--txt-verde);
}
.selected::before{
    content: "";
    position: absolute;
    inset: 0;
    margin: auto auto 0;
    width: 80%;
    height: 3px;
    background: var(--txt-verde);
}
.p-con{
    padding: 50px 0px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-content: center;
    padding: 50px 0 60px;
    justify-items: center;
}
.products{
    text-align: center;
}
.products h2{
    padding: 20px 0;
    font-family: var(--playfair);
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--txt-gris);
}
.products > p{
    width: 40%;
    margin: auto;
}
.p-con > div{
    position: relative;
    width: 15vw;
}
.p-con img{
    width: 100%;
    margin-bottom: 30px;
    border: #e4e4e4 solid 1px;
}
.p-con p{
    text-align: left;
    font-size: 1.1rem;
    font-family: var(--work-sans);
    font-weight: bold;
    color: var(--txt-gris);
    margin-bottom: 10px;
}
.p-con p:last-child{
    font-size: .8rem;
    color: var(--txt-negro);
}
.p-con p span{
    color: var(--txt-gris);
    font-family: var(--work-sans);
    text-decoration: line-through;
}
.f-m{
    padding: 50px 150px;
}
.f-m{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    width: 100%;
    background: #f8f8f8;
}
.f-m h3{
    margin-bottom: 30px;
}
.f-m ul{
    padding: 0;
    list-style: none;
}
.f-m ul li{
    margin-bottom: 20px;
    color: var(--txt-gris);
}
.f-s{
    background: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 480px){
    header, section{
        padding: 0 20px;
    }
    header img{
        margin: auto;
        margin-left: 0;
    }
    nav{
        display: none;
    }
    #menu{
        display: block;
    }
    .products h2{
        text-align: center;
        padding-top: 50px;
    }
    .products > p{
        width: auto;
    }
    .p-con{
        padding: 50px 0px 80px;
    }
    .p-con > div{
        width: auto;
    }
    .p-con > div:not(:first-child){
        display: none;
    }
    footer{
        padding: 0;
    }
    .f-m{
        padding: 50px 20px;
    }
    .f-s{
        background: #f3f3f3;
        padding: 20px 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}